.player-modal-header {
  padding: 16px 24px;
  border-bottom: 1px solid #f0f0f0
}

.player-modal-header h2 {
	margin: 0;
  word-wrap: break-word;
  color: rgba(0, 0, 0, .85);
  font-size: 16px;
  font-weight: 500;
  line-height: 22px
}
