/* reset */
.ant-modal-wrap .ant-modal-container {
  padding: 0;
}

.ant-modal-container .ant-modal-header,
.ant-modal-container .ant-modal-footer {
	margin: 0;
}

/* styles */
.ant-modal-container .ant-modal-body {
	width: 100%;
	padding: 24px;
}
